.container {
    max-width: 1150px;
}

/*============ header begin =============*/
.header {
    padding: 25px 0;
    background: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/bannerV2.jpg) center no-repeat;
}

.header a {
    color: #fff;
}

/*====top-area====*/

/* logo-area */
.header .top-area .logo-area,
.header .top-area .logo,
.header .top-area .logo div {
    display: inline-block;
    height: 66px;
}

.header .top-area .logo,
.header .top-area .logo div {
    width: 133px;
}

.header .top-area .logo div {
    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new.png?index=20170526);
    background-position: 10px -365px;
}

.header .top-area .location {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    bottom: 37%;
    font-size: 80%;

    margin-left: 8px;
    background: rgba(0, 0, 0, .2);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.header .top-area .location:before {
    content: '';
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
    width: 10px;
    height: 12px;

    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new.png?t=2017052520523424);
    background-position: -189px -20px;
}

.header .top-area .location:hover {
    background-color: rgba(0, 0, 0, .4);
}

/* right-area */
.header .top-area .user-center {
    margin-bottom: 6px;
    font-size: 80%;
}

.header .top-area .login {
    margin-left: 5px;
}

.header .top-area .avatar {
    display: inline-block;
    position: relative;
    top: 3px;
    height: 16px;
    width: 17px;

    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new.png?t=2017052520523424);
    background-position: -203px -20px;
}

.header .nav a {
    display: inline-block;
    font-size: 105%;
    font-weight: bold;
    margin-left: 15px;
}

.header .nav .trip:before {
    content: '';
    display: inline-block;
    position: relative;
    right: 1px;
    bottom: 1px;
    width: 19px;
    height: 22px;

    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/lvju.png?_v=20180319195424);
    -webkit-background-size: contain;
    background-size: contain;
}

.header .nav .post-house:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 7px;
    height: 10px;

    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new.png?t=2017052520523424);
    background-position: -225px -20px;
}

/*=== middle-area ===*/
.header .middle-area {
    margin: 120px 0 145px 0;
}

.header .middle-area .title,
.header .middle-area .sales-data {
    font-size: 130%;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.header .middle-area .title {
    height: 69px;
    width: 540px;
    margin: 0 auto;

    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/banner-text.png?_v=20170317);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.header .middle-area .sales-data {
    margin: 5px 0 35px 0;
}

.header .middle-area .search-area {
    width: 800px;
    margin: 0 auto;
}

.header .search-area .search-cat a {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: 90%;
    font-weight: bold;
    color: rgba(255, 255, 255, .7);
}

.header .search-area .search-cat a:hover {
    color: rgba(255, 255, 255, .9);
}

.header .search-area .search-cat a.highlight {
    position: relative;
    color: #fff;
}

.header .search-area .search-cat a.highlight:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: calc(50% - 5px);
    bottom: -16px;
    border: 9px solid transparent;
    border-bottom: 10px solid #fff;
}

.header .search-area .search-bar input,
.header .search-area .search-bar button {
    height: 55px;
    padding: 15px;
    outline: 0;
}

.header .search-area .search-bar button {
    font-size: 17px;
    color: #fff;
    background: #00ae66;
    border: none;
    cursor: pointer;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.header .search-area .search-bar button:hover {
    background-color: #33ef68;
}

/*=== bottom-area ===*/
.header .bottom-area .declaration,
.header .bottom-area .warranty {
    margin-left: 5px;
    font-size: 75%;
    color: rgba(255, 255, 255, .7);
}

.header .bottom-area .declaration:before {
    content: '';
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 5px;
    height: 16px;
    width: 16px;

    opacity: .7;
    background-image: url(https://image1.ljcdn.com/materials/list/2016-08-17/php3X11MP.png);
    -webkit-background-size: contain;
    background-size: contain;
}

.header .bottom-area .warranty:before {
    content: '';
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 5px;
    height: 16px;
    width: 16px;

    opacity: .7;
    background-image: url(https://image1.ljcdn.com/materials/list/2016-06-29/phpAPdvEm.png);
    -webkit-background-size: contain;
    background-size: contain;
}

/* CSS 伪元素无法动态修改属性 */
/*.header .bottom-area .declaration:hover,*/
/*.header .bottom-area .warranty:hover,*/
/*.header .bottom-area .declaration:hover .declaration:before,*/
/*.header .bottom-area .warranty:hover .warranty:before {*/
    /*opacity: 1;*/
    /*color: #fff;*/
/*}*/

.header .bottom-area .declaration:hover,
.header .bottom-area .warranty:hover {
    color: #fff;
}

/*============ header end =============*/


/*============ main begin =============*/
@keyframes upndown {
    0% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.main-nav .nav-item {
    margin: 20px 0 40px 0;
    padding: 10px 50px;
    text-align: center;
}

.main-nav .nav-item a {
    display: inline-block;
}

.main-nav .nav-item .thumb {
    margin: 20px auto;
    width: 75px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-nav .nav-item .cat {
    font-size: 130%;
    display: block;
    color: #222;
}

.main-nav .nav-item .desc {
    font-size: 80%;
}

.main-nav .nav-item:hover .thumb {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

.main .app-prom {
    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/bg-app.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.main .app-prom .col {
    width: 40%;
    padding: 80px 0 100px 0;
}

.main .app-prom .title {
    width: 286px;
    height: 118px;

    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new.png?t=2017052520523424);
    background-position: -448px -379px;
}

.main .app-prom .desc {
    font-size: 83%;
    margin: 20px 0 30px 0;
    color: #222;
}

.main .app-prom .download {
    width: 70%;
}

.main .app-prom .download .android,
.main .app-prom .download .iphone {
    height: 44px;
    width: 134px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new.png?t=2017052520523424);
}

.main .app-prom .download .android {
    margin-top: 9px;
    background-position: -20px -197px;
}

.main .app-prom .download .iphone {
    background-position: -20px -139px;
}

.main .app-prom .download .qr-code {
    margin-left: 15px;
    width: 100px;
}

.main .cat-prom {
    margin: 50px 0;
}

.main .cat-prom .top-area {
    position: relative;
    margin-bottom: 40px;
}

.main .cat-prom .top-area .title {
    width: 248px;
    height: 30px;

    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new.png?t=2017052520523424);
    background-position: -19px -94px;
}

.main .cat-prom .top-area .desc {
    font-size: 90%;
    margin-top: 10px;
    color: #757575;
}

.main .cat-prom .top-area .right {
    position: absolute;
    bottom: 0;
}

.main .cat-prom .top-area .right a {
    color: #222;
}

.main .cat-prom .card-group {
    margin-bottom: 10px;
}

.main .cat-prom .card-group .thumb {
    position: relative;
}

.main .cat-prom .middle-area .card {
    width: 22%;
    margin-right: 4%;

    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.main .cat-prom .middle-area .card:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: -2px 0 4px rgba(0, 0, 0, .2);
    box-shadow: -2px 0 4px rgba(0, 0, 0, .2);
}

.main .cat-prom .middle-area .card:last-child {
    margin-right: 0;
}

.main .cat-prom .card-group .thumb span {
    display: inline-block;
    font-size: 120%;
    padding: 2px 8px;
    position: absolute;
    bottom: 15px;
    left: 0;

    background-color: #333;
    color: #fff;
}

.main .cat-prom .card-group .text {
    padding: 10px 15px 13px 15px;
}

.main .cat-prom .card-group .text .title {
    color: #000;
}

.main .cat-prom .card-group .text .desc {
    margin-top: 5px;
    font-size: 85%;
    color: #aaa;
}

.main .cat-prom .bottom-area .col-md-3 {
    font-size: 12px;
    width: 22%;
    margin-right: 4%;
    color: #aaa;
}

.main .cat-prom .bottom-area .col-md-3:last-child {
    margin: 0;
}

.main .verify {
    padding: 50px 0;
    color: #fff;
    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/truth-bgV2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.main .verify .slogan h2 {
    font-size: 380%;
    font-weight: bold;
}

.main .verify .slogan span {
    display: inline-block;
    font-size: 380%;
    font-weight: lighter;
    margin-top: -20px;
}

.main .verify .right {
    font-size: 16px;
    width: 47%;
    margin-left: 3%;
    margin-bottom: 1.5%;
    vertical-align: bottom;
    text-align: left;
}

.main .verify .search-bar {
    margin-top: 20px;
}


.main .verify .search-bar input,
.main .verify .search-bar button {
    vertical-align: middle;
    border-radius: 3px;
    padding: 14px;
    outline: 0;
    border: 0;
}

.main .verify .search-bar input {
    width: 92%;
}

.main .verify .search-bar button {
    width: 43px;
    height: 43px;
    margin-left: -3px;

    cursor: pointer;
    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new.png?t=2017052520523424);
    background-position: -397px -7px;
    background-color: #fff;
}

/*============ main end =============*/

/*============ footer begin =============*/
.footer {
    padding: 0 0 90px 0;
    background-image: url(https://s1.ljcdn.com/feroot/pc/asset/img/home/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.footer .top-area .link-group,
.footer .middle-area .link-group {
    border-bottom: 1px solid #393939;
}

.footer .top-area a {
    display: inline-block;
    padding: 25px 0;
    margin-right: 10px;
    color: #fff;
}

.footer .top-area .right a {
    color: #7dcfa0;
}

.footer .middle-area {
    padding: 15px 0 0 0;
}

.footer .middle-area .link-cat button {
    font-size: 80%;
    margin-right: 10px;
    padding: 10px;

    cursor: pointer;
    background: #121212;
    color: #888c8e;
    border: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.footer .middle-area .link-cat button:hover,
.footer .middle-area .link-cat button.highlight {
    background: #394043;
    color: #fff;
}

.footer .middle-area .link-group {
    font-size: 75%;
    padding: 20px 0 55px 0;
    width: 84%;
}

.footer .middle-area .link-group a {
    display: inline-block;
    margin-top: 7px;
    margin-right: 5px;
}

.footer .middle-area .link-group a:hover {
    text-decoration: underline;
}

.footer .meta {
    padding: 20px;
    font-size: 75%;
    color: #aaa;
}

.footer .meta .icp span {
    position: relative;
    top: -2px;
}

.footer .meta .icp img {
    position: relative;
    top: 3px;
}