<link rel="stylesheet" href="../../lib/normalize.css">
<link rel="stylesheet" href="../../css/common/global.css">

<link rel="stylesheet" href="../../css/page/login.css">
<link rel="stylesheet" href="../../css/page/login-sm.css">


<!-- 上导航栏开始 -->
<div class="row nav global">
    <div class="container">
        <div class="col-lg-6">
            <a href="#">小米商城</a>
            <a href="#">水滴</a>
            <a href="#">金融</a>
            <a href="#">小米商城</a>
            <a href="#">水滴</a>
            <a href="#">金融</a>
        </div>
        <div class="col-lg-6 right">
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
    </div>
</div>

<div class="row nav page">
    <div class="container">
        <div class="col-lg-2">
            <div class="logo">
                <img src="../../img/logo-footer.png" alt="logo">
            </div>
        </div>
        <div class="col-lg-7">
            <a href="#">小米手机</a>
            <a href="#">小米电视</a>
            <a href="#">盒子</a>
            <a href="#">小米手机</a>
            <a href="#">小米电视</a>
            <a href="#">盒子</a>
        </div>
        <div class="col-lg-3">
            <form id="search-area">
                <input class="col-lg-8" type="search" name="" id="">
                <button class="col-lg-4" type="submit">搜索</button>
            </form>
        </div>
    </div>
</div>
<!-- 上导航栏结束 -->
<!-- 主体开始 -->
<div class="body">
    <div class="nav product">
        <div class="container clearf">
            <div class="col left">
                <div>红米5</div>
                <div>红米5 Plus</div>
            </div>
            <div class="col right">
                <a href="#">概述</a>
                <a href="#">F码通道</a>
                <a href="#">用户评价</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="pro-pic left"></div>
            <div class="pro-desc right">
                <h1>红米</h1>
                <div class="sale-desc">搭载了玩游戏超给力的高通骁龙处理器，后置12MP旗舰相机，前置柔光自拍，配备5.7英寸全面屏。</div>
                <div class="pro-price">899元</div>
                <div class="pro-gift">赠米粉卡</div>
                <div class="locale">北京北京市东城区永定门外街道</div>
                <div class="pro-choose">
                    <div class="title-ver">选择版本</div>
                    <div class="list-choose">
                        <div class="choose-1a">3G+32GB 899元</div>
                        <div class="choose-2a">2G+16GB 799元</div>
                    </div>
                    <div class="title-color">选择颜色</div>
                    <div class="list-choose">
                        <div class="choose-1b">黑色</div>
                        <div class="choose-2b">金色</div>
                        <div class="choose-3b">玫瑰色</div>
                        <div class="choose-4b">浅蓝色</div>
                    </div>
                </div>
                <div class="service">选择小米提供的保障服务</div>
                <div class="total">总计</div>
                <button class="add-cart" type="button">加入购物车</button>
            </div>
        </div>

        <div class="preview-panel"></div>
        <div class="order-panel"></div>
    </div>
</div>
<!-- 主体结束 -->