<link rel="stylesheet" href="../../lib/normalize.css">
<link rel="stylesheet" href="../../css/common/global.css">

<link rel="stylesheet" href="../../css/page/order.css">
<link rel="stylesheet" href="../../css/page/order-sm.css">




<!-- 主体开始 -->
<div class="body">
    <div class="nav product">
        <div class="container clearf">
            <div class="col left">
                <div class="pro-a">红米5</div>

                <div class="pro-b">
                    <span class="separator">|</span>红米5 Plus</div>
            </div>
            <div class="col right">
                <a href="#">概述</a>
                <span class"separator">|</span>
                <a href="#">F码通道</a>
                <span class"separator">|</span>
                <a href="#">用户评价</a>
            </div>
        </div>
    </div>
    <div class="buybox">
        <div class="container">
            <div class="pro-pic left">
                <img src="../../img/pic1.jpg" alt="">
            </div>
            <div class="pro-desc right">
                <h1 class="pro-title-name">红米5</h1>
                <p class="sale-desc">搭载了玩游戏超给力的高通骁龙处理器，后置12MP旗舰相机，前置柔光自拍，配备5.7英寸全面屏。</p>
                <span class="pro-price">899元</span>
                <hr>
                <div class="pro-gift">
                    <span class="gift-tag">赠品</span>
                    <span class="gift-name">赠米粉卡</span>
                </div>
                <hr>
                <div class="locale">
                    <div class="address">
                        北京北京市东城区永定门外街道
                    </div>
                </div>
                <div class="pro-choose">
                    <div class="title-ver">选择版本</div>
                    <div class="list-choose">
                        <div class="choose-1a">3G+32GB 899元</div>
                        <div class="choose-2a">2G+16GB 799元</div>
                    </div>
                    <div class="title-color">选择颜色</div>
                    <div class="list-choose">
                        <div class="choose-1b">黑色</div>
                        <div class="choose-2b">金色</div>
                        <div class="choose-3b">玫瑰色</div>
                        <div class="choose-4b">浅蓝色</div>
                    </div>
                </div>
                <div class="service">选择小米提供的保障服务</div>
                <div class="total">总计</div>
                <button class="add-cart" type="button">加入购物车</button>
                <div> 支持7天无理由退货</div>
            </div>
        </div>


        <!-- 主体结束 -->