.main-promote .cat {
    width: 20%; /*cat 类 宽度占比*/
    background: rgba(0, 0, 0, .8);/*前3个是RGB调色，第四个参数是透明度*/
}

.main-promote .slider {
    width: 80%;/*slider 类 宽度占比*/
}

.main-promote .cat a {
    font-size: 75%;/*cat a 类下的字体占框百分比*/
    display: block;/*每个元素各占整行*/
    padding: 8px 20px;/*内边距*/
    color: #eee;/*cat a 类下的字体颜色*/
}

.main-promote .cat a:hover {
    color: rgb(30, 160, 69);/*cat a 类下 鼠标经过时字体的颜色*/
    background: rgba(0, 0, 0, .5);/*cat a 类下 鼠标经过时的文字框块内背景颜色*/
}
