.main-promote .cat {
    width: 20%; /*cat 类 宽度占比*/
    background: rgba(0, 0, 0, .8);/*前3个是RGB调色，第四个参数是透明度*/
}

.main-promote .slider {
    width: 80%;/*slider 类 宽度占比*/
}

.main-promote .cat a {
    font-size: 75%;
    display: block;
    padding: 8px 20px;
    color: #eee;
}

.main-promote .cat a:hover {
    color: #fff;
    background: rgba(0, 0, 0, .5);
}
