
/*=========全局样式开始==========*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none; /*清除链接的下划线*/
}

img {
    max-width: 100%;/*控制溢出宽度，保证宽度不溢出*/
}

body {
    background: #eee;/*整体页面背景颜色*/
    color: #555;/**/
    margin: 0;/*0外边距 即导航栏等四周紧贴页面 可以有四个值，从第一到第四个分别是 上，右，下 ，左*/
    font-family: sans-serif, 'Microsoft YaHei'; /*字体族*/
}

.container {
    max-width: 900px; /*最大宽度900px*/
    margin-left: auto;/*auto自适应和right一起为居中*/
    margin-right: auto;/*auto自适应和left一起为居中*/
}

.row {
    font-size: 0; /*行内元素同一行*/
    display: block;/*块级元素*/
}

.col {
    display: inline-block; /*列内元素同行*/
    vertical-align: top;/*垂直对齐文本的顶部*/
    font-size: 15px;
}

.col.right {
    text-align: right;/*文本往右靠*/
}

/*=========全局样式结束==========*/